@use "sass:map"
@use '../../../css/var'

#asciidoki #main
    display: flex
    flex-direction: row
    width: 100vw
    color: white

    #display, textarea
        height: calc(100vh - 20px - 47px)
        padding: 10px
        overflow-y: scroll

    // https://medium.com/weekly-webtips/enable-line-numbering-to-any-html-textarea-35e15ea320e2
    #lineNumber
        height: calc(100vh - 20px - 47px)
        width: 60px
        overflow: hidden
        color: gray
        text-align: right 

    textarea
        width: 800px
        border: 0
        margin: 0
        padding: 10px
        outline: none
        resize: none

    & > section
        background-color: #333
    
    #display
        width: 100%

.blog
    .note
        border-left: gray 5px solid
        padding: 10px
        margin: 10px 0 10px 0
    
    .code
        padding: 10px 30px
        font-style: italic
        margin: 10px 0 10px 0
        background-color: grey
        border-radius: 10px 100px / 120px
        color: white

    .red
        background-color: var.$red

    .orange
        background-color: var.$orange

    .yellow
        background-color: var.$yellow

    .green
        background-color: var.$green

    .blue
        background-color: var.$blue

    .violet
        background-color: var.$violet
    
    i
        font-style: italic
    
    b
        font-weight: bold
    
    strong
        font-weight: bold
        font-style: italic
    
    mark
        background-color: white
        padding: 0 4px
    a
        color: white

#asciidoki > h1
    margin: 5px