@mixin flex
  display: flex
  justify-content: center
  align-items: center

#bestiary
  background-color: #333
  color: white
  display: flex
  flex-direction: column
  justify-content: space-between

  #main
    height: calc( 100vh - 176px) // 176 = scroll-menu + footer
    flex-direction: column

  #main, .sheet
    display: flex
    align-items: center
    overflow: auto
    width: 100%
  
    h1
      margin: 10px

  // All sheets
  .sheet
    background-color: #333
    position: absolute
    height: calc( 100vh - 90px) // 90 = footer
    justify-content: center
    flex-wrap: wrap

    // loader
    &#sheet-loading
      height: 100%

  // Horizontal scroll to desplay every beast
  .menu-scroll
    display: flex
    background-color: #444
    height: 86px

    & > p
      display: flex
      justify-content: center
      padding: 34px 0px
      width: 5vw

    & > section
      display: inline-block
      overflow: auto
      white-space: nowrap
      width: 90vw

      p
        display: inline-block
        text-align: center
        padding: 34px 14px
        text-decoration: none
        text-transform: capitalize

        &:hover, &.active
          background-color: #777

  footer
    height: 90px
    width: 100%
    @include flex
  
  hr
    width: 90%

  .btn
    background-color: #444
    margin: 5px
    border-radius: 90px
    width: 70px
    height: 70px
    @include flex

  #sheet-add-beast
    flex-direction: column

    section
      display: flex
      flex-wrap: wrap
      justify-content: center
      margin-top: 10px

      .ability
        margin: 10px

        p
          font-size: 25px
          margin-left: 5px

  // h1, p, i
  //   color: white

  // h1
  //   margin: 10px

  // #btn-menu, .ability, #btn-add-skill
  // #btn-menu, .ability, #btn-add-skill
  //   display: flex
  //   justify-content: center
  //   align-items: center
  //   background-color: #444
  //   border-radius: 90px
  //   width: 75px
  //   height: 75px

  //   &:hover, &.active
  //     background-color: #777

  // #btn-skill, .skill
  //   margin-top: 10px
  //   padding: 10px
  //   border-radius: 10px
  //   background-color: #777

  // #btn-skill
  //   background-color: #666

  // .skill
  //   background-color: #444

  // #menu-section
  //   position: fixed
  //   display: flex
  //   bottom: 10px

  // #btn-menu, #btn-add-skill
  //   margin: 0 5px

  //   i
  //     padding: 22px

  // #menu, #menu-skill, #menu-loading
  //   background-color: #333
  //   position: absolute
  //   width: 100%
  //   height: 100%

  //   &#menu-loading
  //     display: flex
  //     align-items: center
  //     justify-content: center

  //   &#menu-skill
  //     display: flex
  //     flex-direction: column
  //     align-items: center

  //     & > section
  //       display: flex
  //       align-items: center
  //       margin: 10px
  //       width: 100%
  //       justify-content: space-around

  //     #lst-skill
  //       display: flex
  //       justify-content: center
  //       flex-wrap: wrap

  //       p
  //         padding: 20px
  //         margin: 5px
  //         border-radius: 10px
  //         background-color: #555
  //         text-align: center

  //     #ipt-skill
  //       font-size: 25px
  //       padding: 10px
  //       border-radius: 90px
  //       width: 200px

@keyframes rotation
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)

.rotation
  animation: rotation 2s linear infinite