#casse
    #main
        display: flex
        flex-wrap: wrap

        .dice
            display: flex
            flex-wrap: wrap

        .dicePattern
            margin: 5px
            display: flex
            flex-direction: column
            align-items: center
            width: 150px
            height: 200px

            .row
                display: flex
            
            .diceSide
                width: 50px
                height: 50px
            
            .side_red
                background-color: red

            .side_blue
                background-color: blue

            .side_green
                background-color: green

            .side_yellow
                background-color: yellow