#language {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#language .letter {
  margin: 10px;
}
#language > div > div {
  display: flex;
}
#language .cell {
  width: 10px;
  height: 10px;
  background-color: #8a8a8a;
}
#language .cell.empty {
  background-color: white;
}
#language .cell.point {
  border-radius: 15% 85% 15% 85%/85% 15% 85% 15%;
}
#language .cell.top-right {
  border-radius: 0 0 0 10px;
}
#language .cell.right-bottom {
  border-radius: 10px 0 0 0;
}
#language .cell.bottom-left {
  border-radius: 0 10px 0 0;
}
#language .cell.left-top {
  border-radius: 0 0 10px 0;
}
#language .cell.left {
  border-radius: 0% 100% 100% 0%/0% 15% 85% 100%;
}
#language .cell.right {
  border-radius: 100% 0% 0% 100%/85% 0% 100% 15%;
}
#language .cell.top {
  border-radius: 0% 100% 15% 85%/0% 0% 100% 100%;
}
#language .cell.bottom {
  border-radius: 15% 85% 0% 100%/100% 100% 0% 0%;
}

#map-page .row {
  display: flex;
}
#map-page .row .cell {
  width: 5px;
  height: 5px;
}
@media (max-width: 680px) {
  #map-page .row .cell {
    width: 4px;
    height: 4px;
  }
}
@media (max-width: 540px) {
  #map-page .row .cell {
    width: 3px;
    height: 3px;
  }
}
@media (max-width: 420px) {
  #map-page .row .cell {
    width: 2px;
    height: 2px;
  }
}
#map-page .hex-img {
  width: 8px;
  height: 8px;
}
#map-page .hex-row {
  position: relative;
}
#map-page section {
  margin: 20px;
}
#map-page button {
  font-size: 20px;
  padding: 20px;
}

#dijkstra-page .row {
  display: flex;
}
#dijkstra-page .row .cell {
  background-color: hsl(1deg, 70%, 50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#dijkstra-page .row .cell:hover {
  background-color: hsl(1deg, 40%, 50%);
}
#dijkstra-page .row .cell.selected {
  background-color: black;
}
#dijkstra-page .row .wall {
  background-color: hsl(200deg, 70%, 50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#dijkstra-page .row .path {
  background-color: white;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#dijkstra-page section {
  margin: 20px;
}
#dijkstra-page button {
  font-size: 20px;
  padding: 20px;
}
#dijkstra-page p {
  text-align: center;
  margin-top: 20px;
}

#bestiary {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#bestiary #main {
  height: calc(100vh - 176px);
  flex-direction: column;
}
#bestiary #main, #bestiary .sheet {
  display: flex;
  align-items: center;
  overflow: auto;
  width: 100%;
}
#bestiary #main h1, #bestiary .sheet h1 {
  margin: 10px;
}
#bestiary .sheet {
  background-color: #333;
  position: absolute;
  height: calc(100vh - 90px);
  justify-content: center;
  flex-wrap: wrap;
}
#bestiary .sheet#sheet-loading {
  height: 100%;
}
#bestiary .menu-scroll {
  display: flex;
  background-color: #444;
  height: 86px;
}
#bestiary .menu-scroll > p {
  display: flex;
  justify-content: center;
  padding: 34px 0px;
  width: 5vw;
}
#bestiary .menu-scroll > section {
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
  width: 90vw;
}
#bestiary .menu-scroll > section p {
  display: inline-block;
  text-align: center;
  padding: 34px 14px;
  text-decoration: none;
  text-transform: capitalize;
}
#bestiary .menu-scroll > section p:hover, #bestiary .menu-scroll > section p.active {
  background-color: #777;
}
#bestiary footer {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bestiary hr {
  width: 90%;
}
#bestiary .btn {
  background-color: #444;
  margin: 5px;
  border-radius: 90px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bestiary #sheet-add-beast {
  flex-direction: column;
}
#bestiary #sheet-add-beast section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
#bestiary #sheet-add-beast section .ability {
  margin: 10px;
}
#bestiary #sheet-add-beast section .ability p {
  font-size: 25px;
  margin-left: 5px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotation {
  animation: rotation 2s linear infinite;
}

#sonovier {
  background-color: #333;
  color: white;
}
#sonovier #main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sonovier #section-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin: 20px 20px 10px 20px;
}
#sonovier #section-menu .ipt-label {
  position: relative;
  margin: 5px;
}
#sonovier #section-menu .ipt-label label {
  position: absolute;
  top: 0;
  left: 20px;
  background-color: #333;
  padding: 2px;
}
#sonovier #section-menu .ipt-label input {
  margin-top: 8px;
  font-size: 25px;
  padding: 10px;
  border-radius: 90px;
  width: 200px;
  border: white 2px solid;
  background-color: #333;
  color: white;
}
#sonovier #btn-add {
  margin-bottom: 10px;
}
#sonovier header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
#sonovier header input {
  display: none;
}
#sonovier h1 {
  margin: 10px 5px 0 5px;
  text-align: center;
}
#sonovier .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 63px;
  height: 63px;
  border-radius: 90px;
  border: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  margin: 5px;
}
#sonovier #section-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#sonovier #section-btns .btn-sound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #555;
  border-radius: 10px;
  color: white;
  width: 100px;
  height: 100px;
  margin: 5px;
}
#sonovier #section-btns .btn-sound.play {
  background-color: #777;
}
#sonovier #section-btns .btn-sound p {
  margin-bottom: 10px;
  text-align: center;
}
#sonovier #popup-section {
  right: 10px;
}
#sonovier #info {
  background-color: #333;
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sonovier #info section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sonovier #info section p {
  margin: 20px;
}
#sonovier #info section hr {
  width: 110px;
  border-color: #666;
  border-style: dashed;
}
#sonovier #info section a {
  color: white;
  padding: 20px;
  background-color: #777;
  border-radius: 10px;
  margin: 5px;
}
#sonovier #loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  position: absolute;
  height: 100vh;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
#sonovier .rotation {
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#piquete {
  background-color: #333;
  color: white;
}

#plant {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
#plant #section-nav {
  display: flex;
}
#plant #section-nav p {
  border-radius: 90px;
  background-color: #dddddd;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: white;
  cursor: pointer;
}
#plant #section-nav p:hover {
  background-color: #929292;
}
#plant #section-nav p.active {
  background-color: #747474;
}
#plant #main {
  position: relative;
  border: rgba(0, 0, 0, 0.0901960784) 20px solid;
}
#plant #main #section-grid {
  position: absolute;
}
#plant #main #section-grid .line {
  position: absolute;
  border: 1px #dddddd dotted;
}
#plant #main #section-grid .line.v-line {
  width: 0px;
  height: 100%;
}
#plant #main #section-grid .line.h-line {
  width: 50%;
  height: 0px;
}
#plant #main #section-point {
  position: absolute;
}
#plant #main #section-point .point {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#plant #main #section-point .point:hover {
  background-color: #dddddd;
}
#plant #main #section-point .point p {
  color: white;
}

#casse #main {
  display: flex;
  flex-wrap: wrap;
}
#casse #main .dice {
  display: flex;
  flex-wrap: wrap;
}
#casse #main .dicePattern {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 200px;
}
#casse #main .dicePattern .row {
  display: flex;
}
#casse #main .dicePattern .diceSide {
  width: 50px;
  height: 50px;
}
#casse #main .dicePattern .side_red {
  background-color: red;
}
#casse #main .dicePattern .side_blue {
  background-color: blue;
}
#casse #main .dicePattern .side_green {
  background-color: green;
}
#casse #main .dicePattern .side_yellow {
  background-color: yellow;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio {
  display: flex;
  margin: 10px 0;
}

.radio p {
  padding: 10px;
  background-color: #EBEBEB;
  color: black;
  cursor: pointer;
}

.radio p:hover {
  background-color: #9B9B9B;
  color: white;
}

.radio p.selected {
  background-color: #795548;
  color: white;
}

.radio::before, .radio::after {
  content: "";
  width: 20px;
  background-color: #EBEBEB;
}

.radio::before {
  border-radius: 10px 0 0 10px;
}

.radio::after {
  border-radius: 0 10px 10px 0;
}

#popup-section {
  position: fixed;
  bottom: 10px;
  right: 150px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

#popup-section > div {
  width: 200px;
  position: relative;
  background-color: #9B9B9B;
  padding: 20px;
  margin: 0 0 0 10px;
  height: 70px;
  border-radius: 10px;
}

#popup-section > div p {
  color: white;
  margin-top: 10px;
}

#popup-section > div .cross {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

#popup-section > div .cross:hover i {
  color: white;
}

.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6, p, a, li, th, td, label {
  font-family: "ubuntu-r";
}

p {
  margin: 0;
}

p#seed-label {
  margin-top: 20px;
}

@font-face {
  font-family: "roboto-heavy";
  src: url("../font/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-light";
  src: url("../font/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-thin";
  src: url("../font/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-b";
  src: url("../font/Ubuntu-B.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-bi";
  src: url("../font/Ubuntu-BI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-c";
  src: url("../font/Ubuntu-C.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-l";
  src: url("../font/Ubuntu-L.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-li";
  src: url("../font/Ubuntu-LI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-m";
  src: url("../font/Ubuntu-M.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-mi";
  src: url("../font/Ubuntu-MI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-r";
  src: url("../font/Ubuntu-R.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-ri";
  src: url("../font/Ubuntu-RI.ttf") format("truetype");
}
body {
  display: flex;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  align-items: center;
}
body #connection {
  position: absolute;
  right: 0;
  top: 0;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 0 0 0 10px;
}
body #connection.login:hover {
  background-color: red;
  cursor: pointer;
}
body #back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 0 0 10px 0;
  background-color: gray;
  color: #e1e1e1;
  margin: 0;
}
body #back:hover {
  background-color: #e1e1e1;
  color: gray;
}
body nav {
  display: flex;
  background-color: gray;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: sticky;
  top: 0px;
}
body nav div p {
  display: inline;
}
body nav input {
  margin: 0 0 0 10px;
  height: 39px;
}
body nav .btn {
  padding: 10px;
  background-color: gray;
  color: white;
  cursor: pointer;
  margin: 0;
}
body nav .btn:hover {
  background-color: silver;
  color: black;
}
body nav .label {
  padding: 10px;
  background-color: gray;
  color: white;
  margin: 0;
  cursor: pointer;
}
body #seed-label a {
  padding: 8px;
  margin: 3px;
  background-color: #e1e1e1;
  border-radius: 90px;
  cursor: pointer;
}
body main table {
  margin: 20px;
  border-collapse: collapse;
}
body main table thead th {
  padding: 10px;
  width: 150px;
}
body main table thead th.index, body main table thead th.rarity {
  width: 50px;
}
body main table tbody tr.even {
  background-color: #e1e1e1;
}
body main table tbody tr.odd {
  background-color: #f2f2f2;
}
body main table tbody td {
  padding: 8px;
}
body main table tbody td.index, body main table tbody td.rarity {
  text-align: center;
}
@media (max-width: 1024px) {
  body main table .index, body main table .dye, body main table .rarity {
    display: none;
  }
}
@media (max-width: 768px) {
  body main table .plant_part {
    display: none;
  }
}

#login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#login label, #login input, #login button {
  margin: 5px;
}
#login.hidden {
  display: none;
}

.hidden {
  display: none !important;
}

.spinner {
  background-color: #555;
  z-index: 5;
  border-radius: 90px;
}
.spinner i {
  padding: 20px;
  color: white;
}

#main.magic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#main.magic > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
}
#main.magic > div label:before {
  content: "- ";
}
#main.magic > div label:after {
  content: " -";
}
#main.magic > div input, #main.magic > div textarea {
  margin: 10px 0;
}
#main.magic > div input {
  height: 100%;
}

#main.spellbook {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#main.spellbook #card {
  width: 450px;
  background-color: #EBEBEB;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  position: relative;
}
#main.spellbook #card h2 {
  margin: 0 0 20px 0;
}
#main.spellbook #card .check {
  position: absolute;
  top: 10px;
  right: 10px;
}
#main.spellbook #card .effect {
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: gray;
  color: white;
}
#main.spellbook #card p {
  margin-bottom: 10px;
}
#main.spellbook #card .description {
  position: absolute;
  bottom: 10px;
}
#main.spellbook #card hr {
  width: 50px;
}
#main.spellbook #card section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
#main.spellbook #card section p {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: #9B9B9B;
  color: white;
}

#save {
  background-color: #EBEBEB;
  color: black;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
}
#save:hover {
  background-color: #9B9B9B;
  color: white;
}

.connexion {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  display: flex;
}
.connexion .fas {
  margin-right: 10px;
}
.connexion .fa-lock {
  color: red;
}

.connected {
  padding: 20px;
  margin: 200px;
  background-color: #EBEBEB;
  border-radius: 10px;
}

#sheet #update {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  margin: 10px;
  border-radius: 90px;
  width: 60px;
  height: 60px;
  color: white;
  position: fixed;
  cursor: pointer;
  z-index: 1;
}
#sheet #update:hover {
  background-color: #4a4a4a;
}
#sheet #update {
  top: 0px;
  left: 0px;
}
#sheet #skill {
  top: 0px;
  left: 75px;
}
#sheet h1 {
  text-align: center;
}
@media (max-width: 650px) {
  #sheet h1 {
    margin-top: 100px;
  }
}
#sheet > #characteristic {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#sheet .minus, #sheet .plus {
  color: grey;
  cursor: pointer;
}
#sheet .minus:hover, #sheet .plus:hover {
  color: #4a4a4a;
}
#sheet div.char {
  width: 180px;
  height: 160px;
  position: relative;
  margin: 10px;
}
#sheet div.char label {
  position: absolute;
  top: 25px;
  left: 130px;
  font-size: 30px;
}
#sheet div.char > aside {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 90px;
}
#sheet div.char > aside i {
  color: white;
}
#sheet div.char > div {
  position: absolute;
  top: 41px;
  left: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
}
#sheet div.char > div div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 90px;
  background-color: white;
  transform: rotate(-45deg);
}
#sheet div.char > div div p {
  font-size: 40px;
}
#sheet div.char .minus {
  position: absolute;
  top: 125px;
  left: 25px;
}
#sheet div.char .plus {
  position: absolute;
  top: 125px;
  left: 125px;
}
#sheet .hidden {
  display: none;
}
#sheet #skill {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  flex-direction: column;
}
#sheet #skill > section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}
#sheet #skill > section > aside > div {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  cursor: pointer;
  color: white;
  position: relative;
}
#sheet #skill > section > aside > div:hover {
  background-color: #4a4a4a;
}
#sheet #skill > section > aside > div.top {
  border-radius: 90px 90px 0 0;
  top: -30px;
  left: 55px;
}
#sheet #skill > section > aside > div.bottom {
  border-radius: 0 0 90px 90px;
  top: 30px;
  left: 55px;
}
#sheet #skill > section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border: solid 5px hsl(0deg, 100%, 71%);
  border-radius: 90px;
}
#sheet #skill > section > div aside {
  width: 55px;
  height: 55px;
  border-radius: 90px;
  background-color: hsl(0deg, 100%, 71%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#sheet #skill > section > div p {
  margin: 10px;
  font-size: 40px;
}
#sheet #skill > section > p {
  margin-left: 10px;
}

#observation > div, #observation > aside, #discretion > div, #discretion > aside, #charisme > div, #charisme > aside {
  background-color: hsl(34deg, 19%, 65%);
}
#observation label, #discretion label, #charisme label {
  color: hsl(34deg, 19%, 65%);
}

#corps > div, #corps > aside, #def-corps > div, #def-corps > aside {
  background-color: hsl(0deg, 100%, 71%);
}
#corps label, #def-corps label {
  color: hsl(0deg, 100%, 71%);
}

#esprit > div, #esprit > aside, #def-esprit > div, #def-esprit > aside {
  background-color: hsl(200deg, 100%, 71%);
}
#esprit label, #def-esprit label {
  color: hsl(200deg, 100%, 71%);
}

#endurance > div, #endurance > aside {
  background-color: hsl(100deg, 56%, 71%);
}
#endurance label {
  color: hsl(100deg, 56%, 71%);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio {
  display: flex;
  margin: 10px 0;
}

.radio p {
  padding: 10px;
  background-color: #EBEBEB;
  color: black;
  cursor: pointer;
}

.radio p:hover {
  background-color: #9B9B9B;
  color: white;
}

.radio p.selected {
  background-color: #795548;
  color: white;
}

.radio::before, .radio::after {
  content: "";
  width: 20px;
  background-color: #EBEBEB;
}

.radio::before {
  border-radius: 10px 0 0 10px;
}

.radio::after {
  border-radius: 0 10px 10px 0;
}

#popup-section {
  position: fixed;
  bottom: 10px;
  right: 150px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

#popup-section > div {
  width: 200px;
  position: relative;
  background-color: #9B9B9B;
  padding: 20px;
  margin: 0 0 0 10px;
  height: 70px;
  border-radius: 10px;
}

#popup-section > div p {
  color: white;
  margin-top: 10px;
}

#popup-section > div .cross {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

#popup-section > div .cross:hover i {
  color: white;
}

.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6, p, a, li, th, td, label {
  font-family: "ubuntu-r";
}

p {
  margin: 0;
}

p#seed-label {
  margin-top: 20px;
}

@font-face {
  font-family: "roboto-heavy";
  src: url("../font/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-light";
  src: url("../font/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-thin";
  src: url("../font/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-b";
  src: url("../font/Ubuntu-B.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-bi";
  src: url("../font/Ubuntu-BI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-c";
  src: url("../font/Ubuntu-C.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-l";
  src: url("../font/Ubuntu-L.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-li";
  src: url("../font/Ubuntu-LI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-m";
  src: url("../font/Ubuntu-M.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-mi";
  src: url("../font/Ubuntu-MI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-r";
  src: url("../font/Ubuntu-R.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-ri";
  src: url("../font/Ubuntu-RI.ttf") format("truetype");
}
#asciidoki #main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  color: white;
}
#asciidoki #main #display, #asciidoki #main textarea {
  height: calc(100vh - 20px - 47px);
  padding: 10px;
  overflow-y: scroll;
}
#asciidoki #main #lineNumber {
  height: calc(100vh - 20px - 47px);
  width: 60px;
  overflow: hidden;
  color: gray;
  text-align: right;
}
#asciidoki #main textarea {
  width: 800px;
  border: 0;
  margin: 0;
  padding: 10px;
  outline: none;
  resize: none;
}
#asciidoki #main > section {
  background-color: #333;
}
#asciidoki #main #display {
  width: 100%;
}

.blog .note {
  border-left: gray 5px solid;
  padding: 10px;
  margin: 10px 0 10px 0;
}
.blog .code {
  padding: 10px 30px;
  font-style: italic;
  margin: 10px 0 10px 0;
  background-color: grey;
  border-radius: 10px 100px/120px;
  color: white;
}
.blog .red {
  background-color: hsl(0deg, 50%, 50%);
}
.blog .orange {
  background-color: hsl(60deg, 50%, 50%);
}
.blog .yellow {
  background-color: hsl(120deg, 50%, 50%);
}
.blog .green {
  background-color: hsl(180deg, 50%, 50%);
}
.blog .blue {
  background-color: hsl(240deg, 50%, 50%);
}
.blog .violet {
  background-color: hsl(300deg, 50%, 50%);
}
.blog i {
  font-style: italic;
}
.blog b {
  font-weight: bold;
}
.blog strong {
  font-weight: bold;
  font-style: italic;
}
.blog mark {
  background-color: white;
  padding: 0 4px;
}
.blog a {
  color: white;
}

#asciidoki > h1 {
  margin: 5px;
}

.blog {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  background-color: #333;
  color: white;
}
.blog > #main {
  padding: 20px;
}
.blog #aside {
  min-width: 250px;
  height: 100vh;
  border-left: solid 1px #222222;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
}
.blog #aside .tag-1, .blog #aside .tag-2 {
  margin: 5px;
  cursor: pointer;
}
.blog #aside .tag-1 {
  font-size: 16px;
}
.blog #aside .tag-2 {
  font-size: 20px;
}

/*# sourceMappingURL=main.css.map */
