#plant
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center

    #section-nav
        display: flex

        p
            border-radius: 90px
            background-color: #dddddd
            width: 50px
            height: 50px
            display: flex
            justify-content: center
            align-items: center
            margin: 10px
            color: white
            cursor: pointer

            &:hover
                background-color: #929292
            
            &.active
                background-color: #747474

    #main
        position: relative
        border: #00000017 20px solid

        #section-grid
            position: absolute

            .line
                position: absolute
                border: 1px #dddddd dotted

                &.v-line
                    width: 0px
                    height: 100%
                
                &.h-line
                    width: 50%
                    height: 0px

        #section-point
            position: absolute

            .point
                position: absolute
                width: 20px
                height: 20px
                cursor: pointer
                border-radius: 90px
                display: flex
                justify-content: center
                align-items: center

                &:hover
                    background-color: #dddddd
                
                p
                    color: white