@use "sass:map"
@use './var'

body
    display: flex
    height: 100vh
    margin: 0
    flex-direction: column
    align-items: center

    #connection
        position: absolute
        right: 0
        top: 0
        background-color: gray
        display: flex
        flex-direction: column
        align-items: center
        padding: 10px
        border-radius: 0 0 0 10px

        &.login:hover
            background-color: red
            cursor: pointer

    #back
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        top: 0px
        left: 0px
        width: 40px
        height: 40px
        border-radius: 0 0 10px 0
        background-color: gray
        color: #e1e1e1
        margin: 0

        &:hover
            background-color: #e1e1e1
            color: gray

    // Nav \\
    nav
        display: flex
        background-color: gray
        align-items: center
        flex-wrap: wrap
        width: 100%
        position: sticky
        top: 0px

        div p
            display: inline

        input
            margin: 0 0 0 10px
            height: 39px

        .btn
            padding: 10px
            background-color: gray
            color: white
            cursor: pointer
            margin: 0

            &:hover
                background-color: silver
                color: black

        .label
            padding: 10px
            background-color: gray
            color: white
            margin: 0
            cursor: pointer
    
    #seed-label
        a
            padding: 8px
            margin: 3px
            background-color: #e1e1e1
            border-radius: 90px
            cursor: pointer
    
    // Table \\
    main table
        margin: 20px
        border-collapse: collapse

        thead th
            padding: 10px
            width: 150px

            &.index, &.rarity
                width: 50px

        tbody
            tr.even
                background-color: #e1e1e1

            tr.odd
                background-color: #f2f2f2
            
            td
                padding: 8px

                &.index, &.rarity
                    text-align: center

        @media (max-width: map.get(var.$bp, 'desktop'))
            .index, .dye, .rarity
                display: none
        
        @media (max-width: map.get(var.$bp, 'tablet'))
            .plant_part
                display: none

#login
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    label, input, button
        margin: 5px

    &.hidden
        display: none

.hidden
    display: none !important

.spinner
  background-color: #555
  z-index: 5
  border-radius: 90px

  i
    padding: 20px
    color: white

#main.magic
    display: flex
    flex-wrap: wrap
    justify-content: center

    & > div
        display: flex
        flex-direction: column
        align-items: center
        margin: 10px 20px

        label:before
            content: "- "

        label:after
            content: " -"
        
        input, textarea
            margin: 10px 0

        input
            height: 100%

#main.spellbook
    display: flex
    flex-wrap: wrap
    justify-content: center

    #card
        width: 450px
        background-color: var.$light-grey
        border-radius: 10px
        margin: 10px
        display: flex
        align-items: center
        flex-direction: column
        padding: 20px
        text-align: center
        position: relative

        h2
            margin: 0 0 20px 0

        .check
            position: absolute
            top: 10px
            right: 10px

        .effect
            padding: 10px
            margin: 20px
            border-radius: 10px
            background-color: gray
            color: white

        p
            margin-bottom: 10px
        
        .description
            position: absolute
            bottom: 10px

        hr
            width: 50px

        section
            display: flex
            flex-wrap: wrap
            justify-content: center
            margin-bottom: 30px

            p
                padding: 10px
                margin: 5px
                border-radius: 10px
                background-color: var.$grey
                color: white

#save
    background-color: var.$light-grey
    color: black
    position: fixed
    bottom: 10px
    right: 10px
    padding: 20px
    cursor: pointer
    border-radius: 10px

    &:hover
        background-color: var.$grey
        color: white

.connexion
    position: absolute
    right: 0
    top: 0
    padding: 5px
    display: flex

    .fas
        margin-right: 10px

    .fa-lock
        color: red

.connected
    padding: 20px
    margin: 200px
    background-color: var.$light-grey
    border-radius: 10px

// Feuille de personnage
$size: 100px
$half-size: 75px

@mixin flex
    display: flex
    justify-content: center
    align-items: center

@mixin size($w, $h: $w)
    width: $w
    height: $h

#sheet
    #update
        @include flex
        background-color: grey
        margin: 10px
        border-radius: 90px
        width: 60px
        height: 60px
        color: white
        position: fixed
        cursor: pointer
        z-index: 1

        &:hover
            background-color: #4a4a4a

    #update
        top: 0px
        left: 0px

    #skill
        top: 0px
        left: 75px

    h1
        text-align: center

        @media (max-width: 650px)
            margin-top: 100px

    & > #characteristic
        position: relative
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        width: 100%

    .minus, .plus
        color: grey
        cursor: pointer

        &:hover
            color: #4a4a4a

    div.char
        @include size(180px, 160px)
        position: relative
        margin: 10px

        label
            // transform: rotate(45deg)
            position: absolute
            top: 25px
            left: 130px
            font-size: 30px

        & > aside
            position: absolute
            top: 0px
            left: 0px
            @include flex
            @include size(75px)
            border-radius: 90px

            i
                color: white

        & > div
            position: absolute
            top: 41px
            left: 41px
            @include flex
            @include size(100px)
            transform: rotate(45deg)

            div
                @include flex
                @include size(75px)
                border-radius: 90px
                background-color: white
                transform: rotate(-45deg)

                p
                    font-size: 40px

        .minus
            position: absolute
            top: 125px
            left: 25px
        
        .plus
            position: absolute
            top: 125px
            left: 125px
    
    .hidden
        display: none
    
    #skill
        width: 100%
        @include flex
        justify-content: flex-start
        margin-top: 20px
        flex-direction: column

        & > section
            @include flex
            position: relative
            margin-bottom: 50px

            & > aside
                & > div
                    background-color: grey
                    @include flex
                    width: 30px
                    height: 20px
                    cursor: pointer
                    color: white
                    position: relative
                    
                    &:hover
                        background-color: #4a4a4a

                    &.top
                        border-radius: 90px 90px 0 0
                        top: -30px
                        left: 55px

                    &.bottom
                        border-radius: 0 0 90px 90px
                        top: 30px
                        left: 55px
            
            & > div
                @include flex
                width: 150px
                height: 50px
                border: solid 5px hsl(0, 100%, 71%)
                border-radius: 90px

                aside
                    width: 55px
                    height: 55px
                    border-radius: 90px
                    background-color: hsl(0, 100%, 71%)
                    @include flex
                    color: white

                p
                    margin: 10px
                    font-size: 40px
            
            & > p
                margin-left: 10px

#observation, #discretion, #charisme
    & > div, & > aside
        background-color: hsl(34, 19%, 65%)
    
    label
        color: hsl(34, 19%, 65%)

#corps, #def-corps
    & > div, & > aside
        background-color: hsl(0, 100%, 71%)

    label
        color: hsl(0, 100%, 71%)

#esprit, #def-esprit
    & > div, & > aside
        background-color: hsl(200, 100%, 71%)
    
    label
        color: hsl(200, 100%, 71%)

#endurance
    & > div, & > aside
        background-color: hsl(100, 56%, 71%)

    label
        color: hsl(100, 56%, 71%)
