.blog
    display: flex
    flex-direction: row-reverse
    align-items: flex-start
    background-color: #333
    color: white

    & > #main
        padding: 20px
    
    #aside
        min-width: 250px
        height: 100vh
        border-left: solid 1px #222222
        display: flex
        flex-wrap: wrap
        align-items: flex-start
        align-content: center

        .tag-1, .tag-2
            margin: 5px
            cursor: pointer

        .tag-1
            font-size: 16px
        
        .tag-2
            font-size: 20px